@use "../theme.scss" as *;

.btn {
  @include base-interactive-element;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-inline: $space-4;
  color: var(--color, var(--btn-color));

  font-size: var(--text-size, #{$text-sm});
  font-weight: 500;

  width: fit-content;

  &-primary {
    --btn-color: #{$crust};
    background: $mauve;

    &:hover {
      background-color: $flamingo;
      --btn-color: #{$mantle};
    }
  }

  &-secondary {
    --btn-color: #{$text};
    background: $surface1;

    &:hover {
      background-color: $surface2;
    }
  }

  &-ghost {
    --btn-color: #{$text};
    background: transparent;

    &:hover {
      --btn-color: #{$subtext0};
    }
  }

  &-sm {
    @include size-variant($button-height-sm);
  }

  &-md {
    @include size-variant($button-height-md);
  }

  &-lg {
    @include size-variant($button-height-lg);
  }

  &-full {
    width: 100%;
  }
}

.animate {
  will-change: transform;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  transform: translateZ(0);
}

.btn:active.btn-scale {
  transform: scale(0.9);
}
