@use "@/styles/theme.scss" as *;

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $header-height;
  padding: 0 $space-4;
  position: sticky;
  top: 0;
  z-index: 100;
  white-space: nowrap;
  background-color: $crust;
}

.actions {
  width: fit-content;
  display: flex;
  align-items: center;

  gap: $space-2;
}
