@use "@/styles/theme.scss" as *;

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: $mobile;

  background-color: $surface0;
  padding: $space-8 $space-4;

  border-radius: $radius-sm;
}

.fieldset {
  display: flex;
  flex-direction: column;
}

.formLabel {
  display: block;
  margin-bottom: $space-2;
  font-size: $text-sm;
  font-weight: 500;
  color: $subtext1;
}

.error {
  padding: $space-3;
  margin-bottom: $space-4;
  background-color: rgba($red, 0.1);
  border-left: 3px solid $red;
  color: $red;
  font-size: $text-sm;
  border-radius: $radius-sm;
}
