@use "@/styles/theme.scss" as *;


.sign-in-container {
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: $mobile;

  background-color: $surface0;
  padding: $space-8 $space-4;

  border-radius: $radius-sm;
}

.sign-in-fieldset {
  display: flex;
  flex-direction: column;
}

.form-label {
  display: block;
  margin-bottom: $space-2;
  font-size: $text-sm;
  font-weight: 500;
  color: $subtext1;
}

.sign-in-button {
  margin-top: $space-4;
  justify-self: center;

  // Use the primary button style
  &:not(:disabled) {
    background: $mauve;
    color: $crust;
  }

  // Apply a size variant
  @include size-variant($button-height-md);
}

.sign-in-error {
  padding: $space-3;
  margin-bottom: $space-4;
  background-color: rgba($red, 0.1);
  border-left: 3px solid $red;
  color: $red;
  font-size: $text-sm;
  border-radius: $radius-sm;
}
