@forward "./typography.scss";
@forward "./theme.scss";
@forward "./normalize.scss";
@forward "./animation.scss";

body {
  font-family: var(--font-family-sans);
  height: 100vh;

  background-color: var(--crust);
  color: var(--text);

  background-image:
    radial-gradient(var(--surface0) 1px, transparent 1px),
    radial-gradient(var(--surface0) 1px, transparent 1px);
  background-size: 50px 50px;
  background-position:
    0 0,
    25px 25px;
}

#root {
  display: flex;
  flex-direction: column;

  height: 100vh;
  width: 100vw;
}
