/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Document */
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
}

/* Sections */
body {
  min-height: 100dvh;
  max-width: 100dvw;
  overflow-x: hidden;

  text-rendering: optimizeSpeed;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
p {
  color: var(--color, inherit);
  font-size: var(--text-size, inherit);
  font-weight: var(--font-weight, inherit);
}

/* Lists */
ul,
ol {
  list-style: none;
}

/* Text-level semantics */
a {
  text-decoration: none;

  // &:hover {
  //   color: var(--subtext0);
  // }
}

/* Forms */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

button {
  cursor: pointer;
}

textarea {
  resize: vertical;
}

/* Remove spinner from number inputs */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Media */
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
}

img {
  height: auto;
}

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Remove animations for users who prefer reduced motion */
@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

fieldset {
  outline: none;
  border: none;
}
