@use "@/styles/theme.scss" as *;

$text-sizes: (
  xs: $text-xs,
  sm: $text-sm,
  md: $text-md,
  lg: $text-lg,
  xl: $text-xl,
);

$colors: (
  mauve: $mauve,
  flamingo: $flamingo,
);

@each $size, $value in $text-sizes {
  .text-#{$size} {
    --text-size: #{$value};
  }
}

@each $color, $value in $colors {
  .text-#{$color} {
    --color: #{$value};
  }
}
